:root{
    
    --mainColor: #eaeaea;
    --secondaryColor : #fff;
    --mainText: black;
    --secondaryText : #4b5156;
    --borderColor : #c1c1c1;
    --themeDotBorder: #24292e;
}
html, body {
    padding: 0;
    margin: 0 ;

}

h1, h2, h3, h4, h5, h6, strong{
 color: var(--mainText);
 font-family: 'Amatic SC', cursive;
 font-weight: 500;
}
 p, li, span, label, input, textarea{

    color: var(--secondaryText);
    font-family: 'Roboto', sans-serif;
 }
 a{
     text-decoration: none;
     content: #17a2b8;
 }
 ul{
     list-style: none;
 }
 h1{font-size: 56px;}
 h2{ font-size: 36px;}
 h3{ font-size: 28px;}
 h4{ font-size: 24px;}
 h5{ font-size: 20px;}
 h6{ font-size: 16px;}


 .s1{
     background-color : var(--mainColor);
     border-bottom: 1px solid var(--borderColor);
     overflow : auto;
 }
 .s2{
    background-color : var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow : auto;
}
.greeting{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 10em;
}
.intro-wrapper{
background-color: var(--secondaryColor);
border:1px solid var(--borderColor);
border-radius: 5px 5px 0 0 ;
-webkit-box-shadow: 49px -8px 73px -39px rgba(0,0,0,0.75);
-moz-box-shadow: 49px -8px 73px -39px rgba(0,0,0,0.75);
box-shadow: 49px -8px 73px -39px rgba(0,0,0,0.75);
display : grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
    'nav-wrapper nav-wrapper'
    'left-column right-column'
    ;
}
.nav-wrapper{
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 5px 5px 0 0;
}
.dosts-wrapper{
    display: flex;
    padding: 10px;
}
#dot-1{
    background-color: #FC6058;
}
#dot-2{
    background-color: #FEC02F;
}
#dot-3{
    background-color: #2ACA3E;
}
.nav-dots{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -maz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75) ;
}
#navigation{
    margin: 0;
    padding: 10px;
}
#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
.left-column{
    grid-area:left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}
#profile-pic{
    display: block;
    margin:0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}
#theme-options{
    display: flex;
    justify-content: center;
}
.theme-dot{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -maz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75) ;
    cursor: pointer;
}
.theme-dot:hover{
    border-width: 5px;
}
#light-mode{
    background-color: #fff;
}
#blue-mode{
    background-color: #192734;
}
#green-mode{
    background-color: #78866b;
}
#purple-mode{
    background-color: #7E4C74;
}
#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
.right-column{
    grid-area:right-column;
}
.main-container{
    width:1200px;
    margin: 0 auto;

}
@media screen and (max-width: 1200px){
    .main-container{
        width: 95%
    }
}